/* implement new layout for when screen is too small */

body {
  background-color: #232323;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-width: 450px;
  max-height: 600px;
  /* font-size: 20px; */
}

.square {
  width: 30%;
  background-color: #232323;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 16.8%;
  transition: background 0.25s;
}

.selected {
  color: white;
  background-color: steelblue;
}

#container {
  margin: 20px auto;
  max-width: 620px;
  min-width: 450px;
}

h1 {
  color: white;
  line-height: 1.1;
  padding: 16px 0;
  text-align: center;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;

}

#colorDisplay {
  font-size: 200%;
}

span {
  color: white;
}



#message {
  display: inline-block;
  width: 20%;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#scoreText {
  color: steelblue;
  margin-left: 2%;
  text-transform: uppercase;
  font-weight: bold;
}

#scoreDisplay {
  color: steelblue;
  font-weight: bold;
}

#reset {
  margin-right: 5%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.2s;
}

button:hover {
  color: white;
  background-color: lightblue;
  font-size: 1.05em;
}

#stripe {
  background-color: white;
  height: 30px;
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#stripeTextPosition {
  height: 30px;
  max-width: 900px;
  min-width: 592px;
  margin-left: auto;
  margin-right: auto;
}

#stopwatch {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  color: white;
  font-spacing: 1.5px;
}
